<div class="formcontainer">
    <form [formGroup]="loginForm">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
        <div class="row social-login">
            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f mr-2"></i>
                        Sign
                        in
                        with Facebook</span> </button>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google mr-2"></i> Sign in
                        with
                        Google</span> </button></div>
        </div>
        <p style="text-align:center"> OR </p>
        <div>
            <!--span *ngIf="isValid('email')">Username cannot be blank</span-->
            <mat-form-field style="width:100%;">
                <input type="text" formControlName="email" matInput placeholder="Email" class="forms-control">
                <mat-error *ngFor="let validation of login_validation_messages.email">
                    <mat-error class="error-message"
                        *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                        {{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field style="width:100%;">
                <input type="password" formControlName="password" matInput placeholder="Password" class="forms-control">
                <mat-error *ngFor="let validations of login_validation_messages.password">
                    <mat-error class="error-message"
                        *ngIf="loginForm.get('password').hasError(validations.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                        {{validations.message}}</mat-error>
                </mat-error>
            </mat-form-field>
            <!-- <span *ngIf="isValid('password')">Password cannot be blank</span> -->
        </div>
        <div style="text-align: center;">
            {{successMessage}}
        </div>
        <div style="margin-top:40px;">
            <!-- <button class="form-btn" (click)="login()">Sign In</button> -->
            <button class="btn btn-success btn-block" (click)="login()"><i class="fas fa-sign-in-alt"></i> Sign
                in</button>
        </div>
        <a href="javascript:void(0);" class="forgot-passw" (click)="movetoforgotpassword()">Forgot password?</a>
        <hr>
        <button class="btn btn-primary btn-block mb-3" (click)="movetoregister()"><i class="fas fa-user-plus"></i> Sign up
            New Account</button>
    </form>
</div>