<div class="formcontainer">
  <div class="formbody">
      <form style="width:100%;" [formGroup]="forgotpasswordForm">
          <div class="header">Forgot Password</div>
          <div>
              <!--span *ngIf="isValid('email')">Username cannot be blank</span-->
              <mat-form-field style="width:100%;">
                  <input type="text" formControlName="email" matInput placeholder="Email">
                  <mat-error *ngFor="let validation of login_validation_messages.email">
                      <mat-error class="error-message" *ngIf="forgotpasswordForm.get('email').hasError(validation.type) && (forgotpasswordForm.get('email').dirty || forgotpasswordForm.get('email').touched)">{{validation.message}}</mat-error>
                  </mat-error>
              </mat-form-field>
          </div>
          <div style="text-align: center;">                
                  {{successMessage}}
              </div>  
          <div style="margin-top:40px;">
              <button class="form-btn" (click)="forgotpassword()">Send</button>
          </div>
          
      </form>
  </div>

  <div>
      <div class="reg-singup-btn-gp">
          <button class="form-btn-hollow" (click)="movetoregister()">Register</button>
          <button class="form-btn-hollow" (click)="movetologin()">Login</button>
      </div>
  </div>
</div>