<div class="formcontainer">
    <form [formGroup]="forgotpasswordForm">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Forgot Password</h1>
        <div>
            <!--span *ngIf="isValid('email')">Username cannot be blank</span-->
            <mat-form-field style="width:100%;">
                <input type="text" formControlName="email" matInput placeholder="Email" class="forms-control">
                <mat-error *ngFor="let validation of login_validation_messages.email">
                    <mat-error class="error-message"
                        *ngIf="forgotpasswordForm.get('email').hasError(validation.type) && (forgotpasswordForm.get('email').dirty || forgotpasswordForm.get('email').touched)">
                        {{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </div>
        <div style="text-align: center;">
            {{successMessage}}
        </div>
        <div style="margin-top:40px;">
            <button class="btn btn-primary btn-block" (click)="forgotpassword()">Reset Password</button>
        </div>
        <hr>
        <button class="btn btn-primary btn-block mt-4 mb-3" (click)="movetologin()"><i class="fas fa-user-plus"></i>
            Login</button>
    </form>
</div>